.cart__table {
  width: 100%;
  border-collapse: collapse;
}
.cart__table th, .cart__table td {
  vertical-align: top;
  padding: 10px 5px;
}
.cart__cell {
  text-align: left;
  border-bottom: 1px solid #dcd7ca;
}
.cart__cell--no-border {
  border-bottom: 0;
}
.cart__cell--remove a {
  color: #c00;
  display: block;
}
.cart__cell--remove a:hover {
  opacity: 0.6;
}
.cart__cell--remove svg {
  width: 12px;
}
.cart__cell--image {
  max-width: 210px;
  width: 210px;
}
.cart__cell--image a, .cart__cell--image img {
  display: block;
}
.cart__cell--image img {
  max-width: 200px;
}
.cart__cell--right {
  text-align: right;
}
.cart__variations {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 1.3;
}
.cart__quantity {
  font-size: 14px;
  line-height: 1.3;
  font-weight: 400;
}
.cart__input {
  border: 1px solid #dcd7ca;
  padding: 2px 5px;
  width: 72px;
}
.cart__checkout-button {
  margin-top: 20px;
  text-align: right;
}
.cart__checkout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart__mini-cart {
  flex: 0 0 35%;
}
.cart__mini-cart .form__row {
  margin-top: 20px;
}
.cart__mini-cart .form__row .button {
  width: 100%;
}
.cart__form {
  flex: 0 0 60%;
}
.cart__form .form__fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cart__form .form__row {
  flex: 0 0 100%;
}
.cart__form .cart__field--first-name, .cart__form .cart__field--last-name, .cart__form .cart__field--suburb, .cart__form .cart__field--state {
  flex: 0 0 49%;
}
.cart__delivery-zone > div {
  display: flex;
  justify-content: space-between;
}
.cart__delivery-zone-note, .cart__delivery-zone-days {
  font-size: 14px;
  line-height: 1.3;
  font-style: italic;
}
.cart-form__overlay {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9000;
  display: none;
}
.cart-form__overlay--active {
  display: block;
}
.cart-form__overlay .cart-form__spin-icon {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9001;
}
.cart-form__overlay svg {
  height: 30px;
  -webkit-animation: cartSpin 2s linear infinite;
          animation: cartSpin 2s linear infinite;
  color: #fff;
}

@-webkit-keyframes cartSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}

@keyframes cartSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1turn);
  }
}